<header
  class="fixed left-0 top-[40px] right-0 flex justify-between items-center z-[20]"
>
  <figure class="ml-[55px]">
    <img [src]="logo" alt="Space Tourism Logo" class="w-[48px]" />
  </figure>
  <div
    class="bg-white/[0.2515] w-[300px] laptop:w-[473px] h-[1px] absolute left-[167px] z-[10]"
  ></div>
  <nav
    class="w-[830px] h-[96px] bg-white/[0.04] backdrop-blur-[40.77px] flex pl-[123px] gap-[50px]"
  >
    @for (linker of linkers; track linker.name) {
    <li
      [routerLink]="linker.path"
      routerLinkActive="border-b-white hover:border-b-white"
      [routerLinkActiveOptions]="{ exact: true }"
      class="flex items-center gap-[11px] cursor-pointer border-b-[3px] border-b-transparent hover:border-b-white/[0.5021] transition-all ease-in-out duration-300 select-none"
    >
      <span class="font-bold tracking-[2.7px] font-barlowCondensed text-white"
        >0{{ linker.num }}</span
      ><a class="text-white tracking-[2.7px] font-barlowCondensed">{{
        linker.name
      }}</a>
    </li>
    }
  </nav>
</header>
